$main: #dac2b1;
$main-dark: #443d37;

.main-single-bus {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;
    padding: 0 1em;



    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(0, 0, 0, 0.75),
                rgba(246, 243, 243, 0));
        width: 100%;
        position: absolute;
        top: 90%;
        left: 0;
        display: flex;
    }

    button {
        background-color: $main;
        border: 2px solid $main-dark;
        border-radius: 30px;
        box-shadow: $main-dark 4px 4px 0 0;
        color: $main-dark;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
        padding: 0 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -2em;

        z-index: 10;

    }


    button:hover {
        background-color: #ffe3d0;
    }

    button:active {
        box-shadow: #233e4c 2px 2px 0 0;
        transform: translate(-48%, 2px);
    }

    .desc {
        max-width: 40em;
        background-color: $main;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 2em 3em;

        ul {
            margin-left: 3em;
        }

        h1 {
            margin-bottom: 0.5em;
        }

        .spec-title {
            font-weight: 500;
            font-size: 1.1rem;
            margin-top: 0.5em;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        /* Replace with your desired color */
    }

    .swiper-pagination-progressbar-fill {
        background-color: #233e4c !important;
    }

    .swiper {
        width: 50em;
        max-height: 32em;
        margin: 0;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mySwiper {
        margin-top: 3em;
    }



    .car-div {
        margin-top: 6em;
        margin-bottom: 3em;
        width: 50em;
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

}

@media screen and (max-width: 1780px) {
    .main-single-bus {
        padding-top: 4em;
        height: 100%;
    }

}



@media screen and (max-width: 800px) {
    .main-single-bus {
        padding: 1em 1em;
        justify-content: center;

        hr {

            display: none;
        }

        .swiper-div {
            margin-top: 2em;
            margin-bottom: 0;
            transform: scale(0.9);
        }

        .swiper {
            max-width: 29em;
            max-height: 19em;


        }
    }

}

@media screen and (max-width: 500px) {

    .main-single-bus {



        .swiper-div {

            transform: scale(0.7);
        }


    }
}