footer {

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(251, 238, 224, 0.2);
    color: black;
    margin-top: 2em;
    clear: both;
    align-items: center;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    flex-wrap: wrap;

    a {
        color: black;
        font-weight: 500;
        padding-top: 2em;
    }

    p {
        padding-top: 2em;
    }

    a:hover {
        text-decoration: underline;
    }
}