.footer-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;
    background-color: rgba(218, 194, 177, 0.1);

    text-align: center;
}

@media screen and (max-width: 1585px) {
    .footer-div {
        position: relative;
        margin-top: 4em;
    }
}